body {
    font-family:"Roboto",sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Block page scroll */
body:has(.backdrop.is-open) {
    overflow: hidden;
}

/* Reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    display: block;
}
button{
    cursor: pointer;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section {
 padding: 120px 0;
}

/* Header */
.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container{
    display: flex;
    align-items: center;
}

.nav{
    display: flex;
    align-items: center;
}

.nav .logo{
    display: flex;
    padding: 24px 0;
    margin-right: 76px;
}

.menu{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: flex;
        gap:40px;
    }

.menu-link{
        display: block;
        color:#2e2f42;
        padding: 24px 0;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
.menu-link:hover,
.menu-link:focus{
        color: #404bbf;
    }

.menu-link.current::after{
    content:'';
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;

    background-color: #404BBF;
    border-radius: 2px;
}

    
.menu-link.current{
    color: #404BBF;}


.contacts{
        font-style: normal;
        margin-left: auto;
    }
    
.contacts-item{
        display: block;
        padding: 24px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: inherit;
        font-style: normal;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
    }
.contacts-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    
.contacts-item:hover,
.contacts-item:focus
    { 
        color: #404bbf;
    }


/* Hero */
.hero{
        max-width: 1440px;
        height: 600px;
        margin: 0 auto;
        background-color: #2E2F42;
        padding: 188px 0;
        background-image:url(../images/hero/people-office.jpg);
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)),
        url(../images/hero/people-office.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

    }

.hero-title{
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: white;
        max-width: 496px;
        margin: 0 auto 48px; 
}

.button {
    font-family:"Roboto",sans-serif;
    font-weight:500;
    line-height:1.5;
    letter-spacing: 0.04em;
    color:white;
    cursor:pointer;
    background:#4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: block;
    padding: 16px 32px;
    min-width: 169px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus{
    background-color:#404BBF;
}

/* Features */
.features{
padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.features-list{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.features-item{
    flex-basis: calc((100% - 3 * 24px) / 4); 
}

.features-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 100px;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    margin-bottom: 8px;
}

.features-subtitle{
    font-weight:500;
    font-size:20px;
    line-height:1.2;
    letter-spacing:0.02em;
    color:#2E2F42;
    margin: 8px 0;
}

.features-text{
        font-weight:400;
        font-size:16px;
        line-height:1.5;
        letter-spacing:0.02em;
        color:#434455;
}

/* Team */
.team{
background-color: #F4F4FD;
padding: 120px 0 120px;
}

.team-title{
        font-weight:700;
        font-size:36px;
        line-height:1.11;
        letter-spacing:0.02em;
        text-align: center;
        text-transform: capitalize;
        color:#2E2F42;
        margin: 0px auto 72px;
    }

.team-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;   
}

.team-item{
    background-color:#FFFFFF;  
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 3 * 24px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);;
}

.member{
    padding: 32px 0;

}

.team-member-name{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing:0.02em;
        text-align: center;
        color:#2E2F42;
        margin-bottom: 8px;
}

.team-position{
    font-weight:400;
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.02em;
    text-align:center;
    color:#434455;
    text-align: center;
    margin-bottom: 8px;
}

.traling-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    }

.team-socials{
width: 40px;
height: 40px;
}
.socials-link{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
border-radius: 50%;
background-color: #4D5AE5;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus{
background-color: #404bbf;
}

.social-icons{
    fill: #f4f4fd;
}

/* Portfolio */
.portfolio{
padding: 120px 0;
}
.portfolio-title{
        font-weight:700;
        font-size:36px;
        line-height:1.11;
        letter-spacing:0.02em;
        text-align:center;
        text-transform: capitalize;
        color:#2E2F42;
        margin: 0 auto 72px;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item{
    flex-basis: calc((100% - 3 * 24px) / 4);
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.overlay-wrapper{
    position: relative;
    overflow: hidden;
}

.overlay-text{
position: absolute;
top: 0;
left: 0;
transform: translateY(100%);
width: 100%;
height: 100%;
padding: 40px 32px;
display: flex;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
background: #4D5AE5;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay-text{
transform: translateY(0)
}

.portfolio-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin: auto;
}

.portfolio-name{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color:#2E2F42;
        margin-bottom: 8px;
}

.portfolio-type{
        font-weight:400;
        font-size:16px;
        line-height:1.5;
        letter-spacing:0.02em;
        color:#434455;
}

/* Footer */
footer{
    background:#2E2F42;
    padding: 100px 0;
  }

.footer .container{
display: flex;
align-items: baseline;
}

.footer-content{
    margin-right: 120px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.footer-logo{
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text{
        font-weight:400;
        font-size:16px;
        line-height:1.5;
        letter-spacing: 0.02em;
        color:#F4F4FD;
        max-width: 264px;
}


.social-caption{
    color: #FFFFFF;
    font-weight:500;
    font-size:16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.socials{
    display: flex;
    gap: 16px;
}

.socials-item{
width: 40px;
height: 40px;
}

.footer-socials-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover,
.footer-socials-link:focus{
background-color: #31d0aa;
}

.footer-socials{
    margin-right: 80px;
}

/* Subscribe-form */
.subscribe-form{

}
.subscribe-form-caption{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
}

.footer-form{
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer-form-input {
    width: 264px;
    height: 40px;
    padding-left: 16px;

    font-size: 12px;
    outline: transparent;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input::placeholder {
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 4%;
}

.footer-form-input:focus{
    border: 1px solid rgba(49, 208, 170, 1);
}

.footer-form-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
    min-width: 165px;
    padding: 8px 24px;
    
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    cursor: pointer;

    border: none;
    border-radius: 4px;
    background-color: rgba(77, 90, 229, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-icon{
    margin-left: 16px;
}

.footer-form-btn:hover,
.footer-form-btn:focus{
background-color: rgba(49, 208, 170, 1);
}


.accent-header{
    font-weight:700;
    font-size:18px;
    line-height:1.17;
    letter-spacing:0.03em;
    text-transform:uppercase;
    color:#2E2F42;
}
.accent-footer{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

/* Modal box */
.backdrop{
position: fixed;
top: 0;
left: 0;

width: 100%;
height: 100%;
background-color: rgb(46, 47, 66, 0.4);
opacity: 0;
visibility: hidden;
pointer-events: none;

transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open{
opacity: 1;
visibility: visible;
pointer-events: initial;
}


.modal {
position: absolute;
top: 50%;
left: 50%;
padding: 72px 24px 24px;

width: 408px;
min-height: 584px;
border-radius: 4px;
transform: translate(-50%, -50%);

box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
0px 1px 3px 0px rgba(0, 0, 0, 0.12),
0px 2px 1px 0px rgba(0, 0, 0, 0.2);
background: rgba(252, 252, 252, 1);

transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
transition-delay: 250ms;
}

.backdrop:not(.is-open) .modal{
transform: translate(-50%, -100%), scale(1.5);
transition-delay: 0ms;
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: rgba(231, 233, 252, 1);
    fill: rgba(46, 47, 66, 1);
    
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus{
fill: rgb(255, 255, 255, 1);
border: none;
background-color: rgba(64, 75, 191, 1);
}

.modal-btn-icon {
    /* fill: currentColor; */
}


.modal-caption {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: rgba(46, 47, 66, 1);
    max-width: 360px;
    margin-bottom: 16px;
}

.modal-form {
    
}

.modal-form-field {
    margin-bottom: 8px;
}


.modal-form-label {
    display: block;
    margin-bottom:4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(142, 143, 153, 1);
}


.modal-form-wraper {
    position: relative;
}

.modal-form-input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 11px 38px;
    font-size: 18px;

    outline: transparent;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus{
    border-color: rgba(77, 90, 229, 1);
}

.modal-form-input:user-invalid:required {
    border-color: rgba(231, 74, 59, 1);
}


.modal-form-icon{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: rgb(17, 17, 17);
    pointer-events: none;
}

.modal-form-input:focus + .modal-form-icon{
    fill: rgba(77, 90, 229, 1)
}

.modal-form-message{
    resize: none;

    width: 100%;
    height: 120px;
    padding: 8px 16px;
    margin-bottom: 16px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    
    border-radius: 4px;
    border: border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus{
border-color: rgba(77, 90, 229, 1);
}

.modal-form-message::placeholder{
color: rgba(117, 117, 117, 0.5);;
}

/* Custom Checkbox */
.form-agreement {
    margin-bottom: 24px;
}

.checkbox {}

.visually-hidden {}

.agreement-wrapper {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: rgb(142, 143, 153);
}


.agreement-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-right: 8px;

    fill: transparent;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);    cursor: pointer;

}

input[type='checkbox']:checked+.agreement-wrapper>.agreement-checkbox {
    background-color: rgb(64, 75, 191, 1);
    border: none;
    fill: rgba(244, 244, 253, 1);
}
.agreement-checkbox-icon {}

.agreement-link {
    letter-spacing: 4%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: rgba(117, 117, 117, 1);
}

.accent-text {
    color: rgba(77, 90, 229, 1);
}